:root{
    --bgcolor:#181828;
    --color: #7054c3;
    --fontstyle: "Poppins", serif;
}


*{
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor);
  
}

.me {
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    color: white;
    background-color: var(--color);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    margin-top: 10vh;
    width: 33vw;
}

.me h1{
    box-sizing: border-box;
    display: inline-block;
    padding: 18px;
    color: white;
    background-color: var(--color);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    font-family: var(--fontstyle) ;
    font-weight:bolder;
    font-style:italic;
    margin-left: 7vw ;
    
}

.portfolio #self{
    margin-top: 30vh;
    margin-right: 10vw;
    width: 30vw;
    height: 52vh;
    float: right;
    border-radius: 350px;
    border: 5px solid var(--color);


}

.about p {
    color: white;
    font-family: var(--fontstyle);
    font-weight:200;
    font-style:normal;
    width: 35vw;
    height: 50vh;
    margin-top: 10vh;
    margin-left: 8vw;

}


.contact{
    width: 31vw;
    height: 38vh;
    border: 5px solid var(--color);
    background-color: var(--color);
    margin: 8vw;
    display: flex;
    flex-direction: column;

}

.contact h1 {
    color: white;
    font-family: var(--fontstyle);
    font-weight: 500;
    font-style:italic;
    font-size: 50px;
    margin-left: 8px;
}


.contact img{
    margin-top: 3vh;
    width: 3vw;
    height: 5vh;
    background-color: var(--color);
    border-radius: 100%;
    margin-left: 35px;

}

.contact h3{
    height: auto;
    font-size: 25px;
    color:white;
    font-family: var(--fontstyle);
    font-weight: 300;
    margin-top: -48px;
    margin-left: 110px;
}

.linkedin:hover{
    background: var(--color);
    width: 12vw;
    border-radius: 25px;
    text-align: center;
}

.insta:hover{
    background: var(--color);
    width: 8vw;
    border-radius: 25px;
    text-align: center;
}

.email:hover{
    background: var(--color);
    text-align: center;
    width: 23vw;
    border-radius: 25px;

}


