:root {
  --bgcolor: #181828;
  --color: #7054c3;
  --fontstyle: "Poppins", serif;
  --whitecolor: white;

}

* {
  margin: 0;
  padding: 0;
}

::selection{
  color: aqua;
  background-color: #181828;
}

.me {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  color: white;
  background-color: var(--color);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: 10vh;
  width: 33vw;

}

.me h1 {
  box-sizing: border-box;
  display: inline-block;
  padding: 18px;
  color: white;
  background-color: var(--color);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  font-family: var(--fontstyle);
  font-weight: bolder;
  font-style: italic;
  margin-left: 7vw;

}

.portfolio #self {
  margin-top: 30vh;
  margin-right: 10vw;
  width: 30vw;
  height: 52vh;
  float: right;
  border-radius: 350px;
transition: 0.3s ease; 
}

#self:hover {
  transition: 0.3s ease;
  box-shadow: 
  0 0 15px var(--whitecolor), /* Stronger outer glow */
  0 0 30px var(--whitecolor), /* Stronger outer glow */
  inset 0 0 25px rgba(255, 255, 255, 0.7), /* Stronger inner glow */
  inset 0 0 35px rgba(255, 255, 255, 0.5); /* Stronger inner glow */
  transform: translateY(-10px);
  animation: flip 7s infinite; /* Flip animation for self image */
  background-color: none;
  background: none;
  padding: 20px;

}

.about p {
  color: white;
  font-family: var(--fontstyle);
  font-weight: 300;
  font-style: normal;
  width: 35vw;
  height: 50vh;
  margin-top: 10vh;
  margin-left: 8vw;
  display: inline-block;
}

.contact {
  width: 31vw;
  height: 38vh;
  margin-left: 8vw;
  margin-top: 15vh;
  background: var(--color);
  border-radius: 25px;
  margin-bottom: 15px;
  position: relative;

}


.contact:hover {
  border-radius: 25px;
  box-shadow: 
    0 8px 20px var(--color), 
    0 0 15px var(--whitecolor), 
    0 0 30px var(--whitecolor); 
  transform: translateY(-10px); 
  transition:0.3s ease-in-out;
}


.contact h1 {
  color: white;
  font-family: var(--fontstyle);
  font-weight: 500;
  font-style: italic;
  font-size: 50px;
  margin-left: 10px;
  background-color: var(--color);
  border-radius: 35px;
  padding-bottom:0;
  padding-top: 3px;
}

.contact img{
  width: 3vw;
  height: 5vh;
  background-color: var(--color);
  display: grid;
  border-radius: 25px;
  padding-left: 36px;
  padding-top: 25px;
  
}


@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  
  20% {
    transform: scaleX(-1);
  }
  40% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(-1);
  }
  
  80% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }

}



.contact h3 {
  height: auto;
  font-size: 25px;
  color: white;
  font-family: var(--fontstyle);
  font-weight: 300;
  margin-top: -48px;
  margin-left: 110px;
  border-radius: 25px;
  background-color: var(--color);
}

.linkedin:hover {
  background:#007ab9;
  width: 12vw;
  font-weight:300;
  border-radius: 25px;
  text-align: center;
}

.github:hover{
  background-color: white;
  color: black;
  font-weight:300;
  text-align: center;
  width: 13vw;
  border-radius: 25px;
}

.insta:hover {
  background: linear-gradient(90deg, #856337, #b59659,#e56969,#c1558b,#8a49a1);
  width: 8vw;
  font-weight: 300;
  border-radius: 25px;
  text-align: center;
}

.email:hover {
  background: #ffc107;
  text-align: center;
  width: 23vw;
  border-radius: 25px;
  font-weight:500;
}



/* Mobile Devices (up to 767px) */
#vanta-background{
  width: 100%;
  height: 100%;
  
}

@media (max-width: 767px) {
  .me {
    width: 50vw;
    margin-top: 5vh;
  }

  .me h1 {
    font-size: 30px;
    margin-left: 8vw;
    text-align: center;
  }

  .portfolio #self {
    width: 60vw;
    height: auto;
    margin-top: 10vh;
    margin-right: 5vw;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease;
    box-shadow: 
    0 0 15px var(--whitecolor), /* Stronger outer glow */
    0 0 30px var(--whitecolor), /* Stronger outer glow */
    inset 0 0 25px rgba(255, 255, 255, 0.7), /* Stronger inner glow */
    inset 0 0 35px rgba(255, 255, 255, 0.5); /* Stronger inner glow */
    transform: translateY(-10px);
    animation: flip 7s infinite; /* Flip animation for self image */
    background-color: none;
    background: none;
    padding: 20px;
  }

  @keyframes flip {
    0% {
      transform: scaleX(1);
    }
    
    20% {
      transform: scaleX(-1);
    }
    40% {
      transform: scaleX(1);
    }
    60% {
      transform: scaleX(-1);
    }
    
    80% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(-1);
    }
  }


  .about p {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 12vh;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: var(--fontstyle);
    font-size: small;
  }

  .contact {
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 20vh;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 
      0 8px 20px var(--color), 
      0 0 15px var(--whitecolor), 
      0 0 30px var(--whitecolor); 
    transform: translateY(-10px); 
    transition:0.3s ease-in-out;

  }

  .contact h1 {
    font-size: 40px;
  }

  .contact img {
    width: 7vw;
    height: auto;
    padding: 20px;
  }

  .contact h3 {
    font-size: 18px;
    margin-left: 70px;
    height: auto;
    color: white;
    font-family: var(--fontstyle);
    background-color: none;
    margin-top: -50px;
  }
}


/* Tablet Devices (768px to 1023px) */
@media (min-width: 800px) and (max-width: 1200px) {
  
  #vanta-background{
    width: 100%;
    height: 250vh;
    
  }


  .me {
    width: 35vw;
    margin-top: 8vh;
    
  }

  .me h1 {
    font-size: 35px;
    margin-left: 9vw;
    text-align: center;

  }

  .portfolio #self {
    width: 30vw;
    height: auto;
    margin-top: 15vh;
    margin-right: 3vw;
    transition: 0.3s ease;
    box-shadow: 
    0 0 15px var(--whitecolor), /* Stronger outer glow */
    0 0 30px var(--whitecolor), /* Stronger outer glow */
    inset 0 0 25px rgba(255, 255, 255, 0.7), /* Stronger inner glow */
    inset 0 0 35px rgba(255, 255, 255, 0.5); /* Stronger inner glow */
    transform: translateY(-10px);
    animation: flip 7s infinite; /* Flip animation for self image */
    background-color: none;
    background: none;
    padding: 20px;
  }

  
@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  
  20% {
    transform: scaleX(-1);
  }
  40% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(-1);
  }
  
  80% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}


  .about p {
    width: 45vw;
    margin-left: 3vw;
    margin-top: 10vh;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: var(--fontstyle);
    font-size: small;
  }

  .contact {
    width: 50vw;
    height: auto;
    margin-left: 5vw;
    margin-top: 10vh;
    padding-bottom: 20px;

  }

  .contact h1 {
    font-size: 45px;

  }

  .contact img {
    width: 4vw;
    height: auto;

  }

  .contact h3 {
    font-size: auto;
    margin-left: 115px;
 

  }
}

